<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<style>
	footer {
	    background: white;
	    padding: 25px;
	    border-radius: 20px;
	    text-align: center;
	    margin-top: 80px;
	    margin-bottom: 30px; /* ← 追加 */
	}
	</style>
<body>

	<!-- フッター -->
	<footer>

		<a href="#">お問い合わせ</a>
		|
		<a href="#">利用規約</a>
		|
		<a href="#">プライバシーポリシー</a>
		|
		<a href="#">配送について</a>
		|
		<a href="#">FAQ</a>

		<!-- 下 -->
		<div class="footer-bottom">

		    © 2026 横山蒸留所 All Rights Reserved.

		</div>
	</footer>
	
</body>
</html>