<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>確認画面</title>
</head>
<body>

<h1>入力内容確認</h1>

<p>名前：<span th:text="${user.name}"></span></p>
<p>メール：<span th:text="${user.email}"></span></p>
<p>住所：<span th:text="${user.address}"></span></p>

<form th:action="@{/profile/update}" method="post">

    <input type="hidden" name="id" th:value="${user.id}">
    <input type="hidden" name="name" th:value="${user.name}">
    <input type="hidden" name="email" th:value="${user.email}">
    <input type="hidden" name="address" th:value="${user.address}">

    <button type="submit">
        更新確定
    </button>

</form>

<form th:action="@{/profile/edit}" method="get">
    <button type="submit">
        戻る
    </button>
</form>

</body>
</html>