<insert id=id>

	INSERT INTO users(

	 id 
     email
     name
     password
     DATE created_at
     postalcode
     address
     judge

	)
	values
	(
	 #{id}, 
     #{email},
     #{name},
     #{password},
     #{DATE created_at},
     #{postalcode},
     #{address},
     #{judge}


	)

</insert>

<select id="findById" resultType="com.example.demo.entity.User">

    SELECT *
    FROM users
    WHERE id = #{id}

</select>